<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Hello Debuggers</h1>
      <p class="py-6">
        バグばかりのアプリケーションへようこそ。このアプリはいたるところにバグが潜んでいます。このアプリを使ってバグを見つけて報告してください。
      </p>
      <button class="btn btn-primary">はじめよう</button>
    </div>
  </div>
</div>