<div class="flex items-center justify-center">
  <div class="w-full max-w-screen-2xl rounded-lg p-8">
    <%= render "form", post: @post, submit_message: I18n.t("helpers.submit.post") %>
  </div>
</div>